.ProductPreview{ 
    width: 100%;
    position: relative;

}
.time{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 48px;
font-weight: 600;
} 
.ProductPreview> img{ 
    width: 100%;
    
}